{{ $videos := sort (where .Site.RegularPages "Params.episode" "ne" nil) "Params.episode"  }}
{{ $img_suffix := "" }}
{{ $dimensions := "" }}
{{ if .IsNamedParams }}
{{ $img_suffix = .Get "img_suffix" }}
{{ $dimensions = .Get "dimensions" }}
{{ end }}

  <ul class="video-thumbnails two-column-flex">
    {{ range $i, $video := $videos }}
      <li>
      <a href="{{ relURL "video" }}/{{ $video.Params.link }}"><img src="{{ relURL "images/video" }}/ep{{ print $video.Params.episode $img_suffix }}.png" {{ $dimensions }}></a>
      <h4>
        <a href="{{ relURL "video" }}/{{ $video.Params.link }}">{{ $video.Params.video_title }}</a>
      </h4>
      <p class="description">
        <strong>Length:</strong> {{ $video.Params.length }}
      </p>
      </li>
    {{ end }}
  </ul>
